doctype html
html(lang="en")
	head
		title
			| ES2015 module detection in Node.js (June 2016)
		link(rel="stylesheet", type="text/css", href="index.css")
		link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Jaldi')
		script(type="text/javascript", src="index.js")
	body
		div!=markdown
		footer
			a(href="https://github.com/martinheidegger/es6modules-nodejs")
				| Fork at Github