
@import "bourbon";

$font-stack-system: 'Jaldi', $helvetica;
$background: #333;


@import "base";
@import "neat";

h1 {
	display: none;
}
h2 {
	font-size: 1.8em;
}

html, body {
	margin: 0;
	position: relative;
	height: 100%;
	background-color: $background;
}

footer {
	@include outer-container;
	color: #ccc;
	padding: 1.2em;
	text-align: right;
	a {
		color: #ccc;
		&:hover {
			color: #fff;
		}
	}
}

body > div > section {
	padding-top: 6em;
	background-color: white;
	display: block;
	position: relative;
	margin: 0;
	padding-bottom: 5em;
	> section {
	  @include outer-container;
		padding: 1.2em;
	}
}
html.js > body > div > section > section {
	display: none;
}

table tr {
	td, th {
		&:nth-child(1) {
			width: 8em;
		}
		&:nth-child(2) {
			width: 2em;
		}
	}
}

.table-of-contents {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	p {
		margin: 0;
	}
	&, ul {
		background-color: #F0DB4F;
	}
	code {
		font-family: $font-stack-system;
	}
	&, > ul {
		height: 4.7em;
	}
	> li {
		> p a {
			display: block;
			font-size: 1.5em;
			padding: 0.4em 0.8em;
			color: #000;
			text-decoration: none !important;
			line-height: 0.8em;
			em {
				font-size: 0.6em;
				opacity: 0.8;
				white-space: nowrap;
			}
		}
		@include outer-container;
		> ul {
			> li {
				display: inline-block;
				position: relative;
				border-right: 1px solid #fff;
				a {
					display: block;
					white-space: nowrap;
					padding: 0.3em 1.2em;
					color: #333;
					&:hover {
						color: #fff;
						text-decoration: underline;
					}
				}
				> ul {
					background-color: #666;
					position: absolute;
					z-index: 2;
					display: none;
					a:hover {
						background-color: #888;
					}
					> ul {
						display: none;
					}
				}
				&:hover {
					background-color: #666;
					a {
						color: #ccc;
						&:hover {
							color: #fff;
						}
					}
					> ul {
						display: block;
					}
				}
			}
		}
	}
}


#es2015-module-detection-in-node-js-june-2016:hover {
	text-decoration: none;
}

section {
	background-color: white;
	margin-bottom: 1.5em;
	a {
		color: #00c;
		&:hover, &:focus, &:visited {
			color: #00c;
			text-decoration: underline;
		}
	}
}

table.responsive-table th {
  display: none;
}

table.responsive-table tr {
  height: 100%;
}

table.responsive-table td {
  display: block;
}

table.responsive-table td:before {
  content: attr(data-col-title);
  display: inline-block;
  max-width: 50%;
  width: 100%;
}

@media (min-width: 500px) {
  table.responsive-table th,
  table.responsive-table td {
    display: table-cell;
  }

  table.responsive-table td:before {
    display: none;
  }
}
