doctype html
html(lang="en")
	head
		title
			| ES2015 module detection in Node.js (June 2016)
		link(rel="stylesheet", type="text/css", href="index.css")
		link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Jaldi:400,700')
		script(type="text/javascript", src="index.js")
		meta(name="viewport", content="width=320, maximum-scale=1")
		meta(property="og:url", content="https://martinheidegger.github.io/es6modules-nodejs")
		meta(property="og:locale", content="en_GB")
		meta(property="og:description", content="A summary of the efforts and problems for the Node TSC to bring ES2015 modules to Node.js.")
		meta(property="og:image", content="http://martinheidegger.github.io/es6modules-nodejs/ogp.png")
		meta(property="og:image:secure_url", content="https://martinheidegger.github.io/es6modules-nodejs/ogp.png")
		meta(property="og:image:type", content="image/png")
		meta(property="og:image:width", content="1200")
		meta(property="og:image:height", content="630")
	body
		div!=markdown
		footer
			a(href="https://github.com/martinheidegger/es6modules-nodejs")
				| Fork at Github
			p.license <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">ES2015 module detection in Node.js</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Martin Heidegger</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://martinheidegger.github.io/es6modules-nodejs" rel="dct:source">https://martinheidegger.github.io/es6modules-nodejs</a>.